*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bodyBlock{
    height:100vh;
    width: 100vw;
    background: #31363F;
    overflow: hidden;
}

.container{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    flex-wrap: wrap;
}
.heading{
    font-size: 5rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#F8EDED;
    text-align: center;
    user-select: none;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 2px 2px black, 0 -2px 2px black,
    2px 0 2px black, -2px 0 2px black, 2px 2px 2px black, -2px -2px 2px black;
}

.blocks{
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.block{
    background-color: white;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 1.5px solid transparent;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.block:active {
    transform: translateY(3px); /* Move the button down slightly */
}

#block-1{
    background-color: #8ACDD7;
}

#block-2{
    background-color: #F6F193;
}

#block-3{
    background-color: #AC87C5;
}

#block-4{
    background-color: #FD8A8A;
}

.bubbly-button{
    width: 5rem;
    height: 2rem;
}


.btn-cont{
    position: absolute;
    bottom: 2rem;
    right: 2.3rem;
}


.bubbly-button {
    font-family:  sans-serif;
    display: inline-block;
    text-align: center;
    width: 8rem;
    height: 3rem;
    font-size: 1em;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ffffff;
    color: #ff0081;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    font-size: 1.2em;
}

.bubbly-button:focus {
    outline: 0;
}

.bubbly-button:before,
.bubbly-button:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}
.bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, transparent 20%, white 20%, transparent 30%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, transparent 10%, white 15%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, transparent 10%, white 15%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.bubbly-button:active {
    transform: scale(0.9);
    background-color: white;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

.bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}

.bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.bubbly-button:hover{
    background-color: #ff0081;
    color: white;
}
.bubbly-button:active{
    background-color: #ff0081;
    color: white;
}