/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Dark background */
    color: #e0e0e0; /* Light text for contrast */
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
}

.heading {
    text-align: center;
    color: #4fc3f7; /* Light blue */
    margin-bottom: 20px;
    font-size: 3.5rem;
    margin-top: 5rem;
}

.box {
    background-color: #1e1e1e; /* Dark grey background */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Darker shadow */
    text-align: center;
    width: 30rem;
    margin-top: 1rem;
}

.para {
    margin: 10px 0;
    font-size: 16px;
}

.head2 {
    color: #ba68c8; /* Pastel purple */
    margin: 20px 0;
    margin-bottom: 10px;
}

input[type="text"] {
    border: 1px solid #333; /* Dark border */
    border-radius: 4px;
    background-color: #424242; /* Darker grey background */
    display: block;
    width: 50%;
    margin: auto;
    margin-bottom: 15px;
    padding: 10px;
    color: #e0e0e0; /* Light text */
}

.result {
    display: block;
    width: 50%;
    /* margin-bottom: 15px; */
    margin: auto;
    padding: 10px;
    color: #e0e0e0; /* Light text */
    padding-top: 0px;
    font-size: 2.2rem;
    color: yellowgreen;
}

.submit-guess {
    background-color: #64b5f6; /* Light blue */
    border: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    margin: auto;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.submit-guess:hover {
    background-color: #42a5f5; /* Slightly darker blue */
}

.prevGuess, .remaining {
    margin: auto;
    margin-top: 20px;
    font-size: 14px;
    margin-bottom: 10px;
}

#retry{
    background-color: crimson;
}



.bubbly-button{
    width: 5rem;
    height: 2rem;
}


.btn-cont{
    position: absolute;
    bottom: 2rem;
    right: 2.3rem;
}


.bubbly-button {
    font-family:  sans-serif;
    display: inline-block;
    text-align: center;
    width: 8rem;
    height: 3rem;
    font-size: 1em;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ffffff;
    color: #ff0081;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    font-size: 1.2em;
}

.bubbly-button:focus {
    outline: 0;
}

.bubbly-button:before,
.bubbly-button:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}
.bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, transparent 20%, white 20%, transparent 30%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, transparent 10%, white 15%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, transparent 10%, white 15%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%), radial-gradient(circle, white 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.bubbly-button:active {
    transform: scale(0.9);
    background-color: white;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

.bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}

.bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}

.bubbly-button:hover{
    background-color: #ff0081;
    color: white;
}
.bubbly-button:active{
    background-color: #ff0081;
    color: white;
}

@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
