@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bodyBlock{
    height:100vh;
    width: 100vw;
    background: #31363F;
    display: flex;
    justify-content: center;
}

.container{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.heading{
    font-size: 5rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#E95793;
    text-align: center;
    user-select: none;
}

.Projects{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project a {
    text-decoration: none;
    background-color: #EEEEEE;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    color: #32012F;
    display: flex; /* Change from block to flex */
    align-items: center; /* Vertically center the text */
    padding-right: 6rem;
    padding-left: 1rem;
    height: 2.5rem;
    cursor: pointer;
    border: 1.5px solid transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow */
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    box-sizing: border-box; /* Ensures padding and border are included in the width and height */
    font-family: 'Lora';
}

.project a:active {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3); /* Lighter shadow when clicked */
    transform: translateY(2px); /* Move the button down slightly */
}

.project a:hover {
    border: 1.5px solid #940B92;
    box-sizing: border-box; 
    color: black;
}



